apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: internal-root-ca
  namespace: {{ cert_manager_namespace | default('cert-manager') }}
spec:
  isCA: true
  commonName: "internal-root-ca"
  secretName: internal-root-ca-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: internal-ca-issuer
spec:
  ca:
    secretName: internal-root-ca-secret
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: keycloak-tls
  namespace: {{ keycloak_namespace | default('keycloak') }}
spec:
  secretName: keycloak-tls
  issuerRef:
    name: internal-ca-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  dnsNames:
  - {{ keycloak_hostname }}
  - "*.{{ email_domain }}"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: harbor-tls
  namespace: {{ harbor_namespace | default('harbor') }}
spec:
  secretName: harbor-tls
  issuerRef:
    name: internal-ca-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  dnsNames:
  - {{ harbor_hostname }}
  - "*.{{ email_domain }}"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ceph-tls
  namespace: {{ rook_ceph_namespace | default('rook-ceph') }}
spec:
  secretName: tls-ceph-ingress
  issuerRef:
    name: internal-ca-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  dnsNames:
  - {{ ceph_dashboard_hostname }}
  - {{ ceph_rgw_hostname }}
  - "*.{{ email_domain }}"

