hostname: "{{ rancher_hostname }}"
replicas: {{ rancher_replicas }}
additionalTrustedCAs: true

ingress:
  tls:
    source: rancher

webhook:
  replicaCount: {{ webhook_replicas | default(1) }}
  replicas: {{ webhook_replicas | default(1) }}
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - rancher
            topologyKey: kubernetes.io/hostname
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - rancher-webhook
            topologyKey: kubernetes.io/hostname
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - rancher-webhook
            topologyKey: kubernetes.io/hostname

nodeSelector:
  node-role.kubernetes.io/control-plane: "true"

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - rancher
          topologyKey: kubernetes.io/hostname

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchExpressions:
        - key: app
          operator: In
          values:
            - rancher

global:
  cattle:
    psp:
      enabled: false
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - rancher
            topologyKey: kubernetes.io/hostname
