hostname: "{{ rancher_hostname }}"
replicas: {{ rancher_replicas }}
additionalTrustedCAs: true

ingress:
  tls:
    source: rancher

webhook:
  replicaCount: {{ webhook_replicas | default(1) }}
  replicas: {{ webhook_replicas | default(1) }}
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - rancher
            topologyKey: kubernetes.io/hostname

nodeSelector:
  node-role.kubernetes.io/control-plane: "true"

global:
  cattle:
    psp:
      enabled: false
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
