mirrors:
  "docker.io":
    endpoint:
      - "{{ docker_hub_endpoint | default('https://registry-1.docker.io') }}"
  "registry-1.docker.io":
    endpoint:
      - "{{ docker_hub_endpoint | default('https://registry-1.docker.io') }}"
  "quay.io":
    endpoint:
      - "{{ quay_registry_endpoint | default('https://quay.io') }}"
  "registry.k8s.io":
    endpoint:
      - "{{ k8s_registry_endpoint | default('https://registry.k8s.io') }}"
