---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_pg_primary_host | default('keycloak-pg-postgresql-primary') }}
  namespace: {{ keycloak_namespace | default('keycloak') }}
  labels:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: primary
spec:
  type: ClusterIP
  ports:
  - name: tcp-postgresql
    port: {{ postgres_port | default(5432) }}
    targetPort: {{ postgres_port | default(5432) }}
  selector:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: postgresql
    statefulset.kubernetes.io/pod-name: {{ keycloak_pg_primary_pod }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_pg_read_0_host | default('keycloak-pg-postgresql-read-0') }}
  namespace: {{ keycloak_namespace | default('keycloak') }}
  labels:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: read-replica
spec:
  type: ClusterIP
  ports:
  - name: tcp-postgresql
    port: {{ postgres_port | default(5432) }}
    targetPort: {{ postgres_port | default(5432) }}
  selector:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: postgresql
    statefulset.kubernetes.io/pod-name: {{ keycloak_pg_read_pod_0 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_pg_read_1_host | default('keycloak-pg-postgresql-read-1') }}
  namespace: {{ keycloak_namespace | default('keycloak') }}
  labels:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: read-replica
spec:
  type: ClusterIP
  ports:
  - name: tcp-postgresql
    port: {{ postgres_port | default(5432) }}
    targetPort: {{ postgres_port | default(5432) }}
  selector:
    app.kubernetes.io/name: postgresql-ha
    app.kubernetes.io/instance: keycloak-pg
    app.kubernetes.io/component: postgresql
    statefulset.kubernetes.io/pod-name: {{ keycloak_pg_read_pod_1 }}
