apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-postgresql
  namespace: {{ monitoring_namespace | default('cattle-monitoring-system') }}
  labels:
    grafana_datasource: "1"
data:
  postgresql.yaml: |
    apiVersion: 1
    datasources:
      - name: keycloak-pg-postgresql
        type: postgres
        uid: keycloak-pg-postgresql
        url: {{ keycloak_pg_internal_host }}:{{ postgres_port | default(5432) }}
        user: postgres
        database: postgres
        secureJsonData:
          password: {{ keycloak_pg_password | default('keycloak-pg-2026') }}
        jsonData:
          sslmode: disable
          postgresVersion: 1500
          maxOpenConns: 10
          maxIdleConns: 2
          connMaxLifetime: 14400
        isDefault: false

      - name: PostgreSQL
        type: postgres
        uid: postgresql
        url: {{ keycloak_pg_internal_host }}:{{ postgres_port | default(5432) }}
        user: keycloak
        database: keycloak
        secureJsonData:
          password: {{ keycloak_db_password }}
        jsonData:
          sslmode: disable
          postgresVersion: 1500
          maxOpenConns: 10
          maxIdleConns: 2
          connMaxLifetime: 14400
