[defaults]
inventory = inventory.ini
roles_path = roles
collections_path = .ansible/collections:/usr/share/ansible/collections
local_tmp = .ansible/tmp
remote_tmp = .ansible/tmp
retry_files_enabled = False
host_key_checking = False
stdout_callback = default
callbacks_enabled = timer, profile_tasks
interpreter_python = auto_silent
inject_facts_as_vars = True
display_skipped_hosts = False
display_ok_hosts = True
show_task_path_on_failure = True
check_mode_markers = True
show_custom_stats = True
deprecation_warnings = False
system_warnings = False
command_warnings = False
bin_ansible_callbacks = True
module_strict_utf8_response = False

# --- パフォーマンス・チューニング ---
transport = local
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts_cache
fact_caching_timeout = 86400
gather_subset = !all,!min,network,virtual

[connection]
pipelining = True

[ssh_connection]
pipelining = True

[callback_default]
result_format = yaml
callback_format_pretty = True
result_indentation = 2

[callback_profile_tasks]
datetime_format = %Y-%m-%d %H:%M:%S
task_output_limit = 10
sort_order = descending

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
