# 認証情報 (生成日時: {{ ansible_date_time.date }} {{ ansible_date_time.time }})
# このファイルは機密情報を含むため、適切に管理してください
# - パーミッション: 600 (所有者のみ読み書き可能)
# - Git コミット禁止 (.gitignore に追加推奨)

[OpenWebUI]
URL=https://{{ open_webui_hostname }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
OIDCClient={{ open_webui_client_id | default('open-webui') }}/{{ open_webui_client_secret | default('open-webui-secret') }}
BackendOllama=http://ollama.{{ ollama_namespace | default('ollama') }}.svc.cluster.local:{{ ollama_port | default(11434) }}
BackendOGA=http://oga.{{ oga_namespace | default('oga') }}.svc.cluster.local:{{ oga_port | default(8000) }}/v1

[Ollama]
URL=https://{{ ollama_hostname }}
InternalEndpoint=http://ollama.{{ ollama_namespace | default('ollama') }}.svc.cluster.local:{{ ollama_port | default(11434) }}
GPUAcceleration=AMD ROCm (GPU) / XDNA (NPU)

[Keycloak]
URL=https://{{ keycloak_hostname }}
AdminConsole=https://{{ keycloak_hostname }}/admin
Username={{ keycloak_admin_user }}
Password={{ keycloak_admin_password }}

[Grafana]
URL=https://{{ grafana_hostname }}
Username=admin
Password={{ grafana_admin_password }}

[Rancher]
URL=https://{{ rancher_hostname }}
Username=admin
Password={{ rancher_admin_password }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
OIDCCallback=https://{{ rancher_hostname }}/verify-auth

[KeycloakOIDC]
Issuer=https://{{ keycloak_hostname }}/realms/master
OpenWebUIClient={{ open_webui_client_id | default('open-webui') }}/{{ open_webui_client_secret | default('open-webui-secret') }}
RancherClient=rancher/{{ rancher_client_secret }}
GrafanaClient=grafana/{{ grafana_client_secret }}
pgAdminClient=pgadmin/{{ pgadmin_client_secret | default('pgadmin-secret') }}
TraefikClient=traefik/{{ traefik_client_secret | default('traefik-secret') }}

[PostgreSQL]
PrimaryHost={{ keycloak_pgpool_host | default('keycloak-pg-postgresql-ha-pgpool') }}.{{ keycloak_namespace | default('keycloak') }}.svc.cluster.local:{{ postgres_port | default(5432) }}
ReadHost0={{ keycloak_pg_read_0_host | default('keycloak-pg-postgresql-read-0') }}.{{ keycloak_namespace | default('keycloak') }}.svc.cluster.local:{{ postgres_port | default(5432) }}
ReadHost1={{ keycloak_pg_read_1_host | default('keycloak-pg-postgresql-read-1') }}.{{ keycloak_namespace | default('keycloak') }}.svc.cluster.local:{{ postgres_port | default(5432) }}
AdminUser=postgres
AdminPassword={{ keycloak_pg_password }}
AppUser=keycloak
AppPassword={{ keycloak_db_password }}
ReplicationUser=repmgr
ReplicationPassword=managed-by-chart (keycloak-pg-postgresql-ha-postgresql secret: repmgr-password)

[pgAdmin4]
URL=https://{{ pgadmin_hostname }}
LoginEmail={{ pgadmin_admin_email }}
Password={{ pgadmin_admin_password }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
PreRegisteredServers=keycloak-pg-postgresql-primary, keycloak-pg-postgresql-read-0, keycloak-pg-postgresql-read-1
DatabaseUser=postgres
DatabasePassword={{ keycloak_pg_password }}

[TraefikDashboard]
URL=https://{{ traefik_hostname }}
SSOLogin=Keycloak OIDC (oauth2-proxy forwardAuth)
OIDCClient=traefik/{{ traefik_client_secret | default('traefik-secret') }}
Username={{ traefik_admin_user }}
Password={{ traefik_admin_password }}


