# 認証情報 (生成日時: {{ ansible_date_time.date }} {{ ansible_date_time.time }})
# このファイルは機密情報を含むため、適切に管理してください
# - パーミッション: 600 (所有者のみ読み書き可能)
# - Git コミット禁止 (.gitignore に追加推奨)

[OpenWebUI]
URL=https://{{ open_webui_hostname }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
OIDCClient={{ open_webui_client_id | default('open-webui') }}/{{ open_webui_client_secret | default('open-webui-secret') }}
BackendLemonade=http://{{ lemonade_service_name | default('lemonade') }}.{{ lemonade_namespace | default('lemonade') }}.svc.cluster.local:{{ lemonade_port | default(11434) }}
BackendFastFlowLM=http://{{ npu_flm_host_ip }}:{{ npu_flm_port }}/v1

[Lemonade]
URL=https://{{ lemonade_hostname }}
InternalEndpoint=http://{{ lemonade_service_name | default('lemonade') }}.{{ lemonade_namespace | default('lemonade') }}.svc.cluster.local:{{ lemonade_port | default(11434) }}
GPUAcceleration=AMD ROCm (GPU)

[FastFlowLM]
Endpoint=http://{{ npu_flm_host_ip }}:{{ npu_flm_port }}/v1
GPUAcceleration=AMD XDNA (NPU)

[Keycloak]
URL=https://{{ keycloak_hostname }}
AdminConsole=https://{{ keycloak_hostname }}/admin
Username={{ keycloak_admin_user }}
Password={{ keycloak_admin_password }}

[Grafana]
URL=https://{{ grafana_hostname }}
Username=admin
Password={{ grafana_admin_password }}

[Rancher]
URL=https://{{ rancher_hostname }}
Username=admin
Password={{ rancher_admin_password }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
OIDCCallback=https://{{ rancher_hostname }}/verify-auth

[KeycloakOIDC]
Issuer=https://{{ keycloak_hostname }}/realms/master
OpenWebUIClient={{ open_webui_client_id | default('open-webui') }}/{{ open_webui_client_secret | default('open-webui-secret') }}
RancherClient=rancher/{{ rancher_client_secret }}
GrafanaClient=grafana/{{ grafana_client_secret }}
pgAdminClient=pgadmin/{{ pgadmin_client_secret | default('pgadmin-secret') }}
TraefikClient=traefik/{{ traefik_client_secret | default('traefik-secret') }}

[PostgreSQL]
Host={{ keycloak_pg_internal_host }}:{{ postgres_port | default(5432) }}
AdminUser=postgres
AdminPassword={{ keycloak_pg_password }}
AppUser=keycloak
AppPassword={{ keycloak_db_password }}

[pgAdmin4]
URL=https://{{ pgadmin_hostname }}
LoginEmail={{ pgadmin_admin_email }}
Password={{ pgadmin_admin_password }}
SSOLogin=Keycloak OIDC (ワンクリックログイン)
PreRegisteredServers={{ keycloak_pg_host | default('keycloak-pg-postgresql') }}, grafana-postgresql
DatabaseUser=postgres
DatabasePassword={{ keycloak_pg_password }}

[TraefikDashboard]
URL=https://{{ traefik_hostname }}
SSOLogin=Keycloak OIDC (oauth2-proxy forwardAuth)
OIDCClient=traefik/{{ traefik_client_secret | default('traefik-secret') }}
Username={{ traefik_admin_user }}
Password={{ traefik_admin_password }}


